<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EA3DC761C6F89E900F4BD60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA3DC8D1C6F89E900F4BD60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EA3DC981C6F89EA00F4BD60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
